.patientregpage-container {
  min-height: 100vh;
}
.patientregpage-patientregpage {
  width: 100%;
  height: 2052px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.patientregpage-form {
  top: 0px;
  right: 0px;
  width: 1920px;
  height: 2059px;
  position: absolute;
}
.patientregpage-container01 {
  top: 363px;
  flex: 0 0 auto;
  left: -4px;
  width: 100%;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-input {
  top: 34px;
  left: 243px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input01 {
  top: 34px;
  left: 758px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input02 {
  top: 34px;
  left: 1292px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-container02 {
  top: 874px;
  flex: 0 0 auto;
  left: -11px;
  width: 100%;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-input03 {
  top: 34px;
  left: 243px;
  width: 1463px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-container03 {
  top: 1002px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 137px;
  display: flex;
  position: absolute;
}
.patientregpage-input04 {
  top: 34px;
  left: 230px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input05 {
  top: 34px;
  left: 758px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input06 {
  top: 34px;
  left: 1268px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-container04 {
  top: 618px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
}
.patientregpage-input07 {
  top: 34px;
  left: 230px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input08 {
  top: 34px;
  left: 758px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input09 {
  top: 34px;
  left: 1268px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-container05 {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 239px;
  height: 137px;
  display: flex;
  position: absolute;
}
.patientregpage-input10 {
  top: 34px;
  left: 230px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input11 {
  top: 34px;
  left: 758px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input12 {
  top: 34px;
  left: 1257px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-container06 {
  top: 1276px;
  flex: 0 0 auto;
  left: -2px;
  width: 100%;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.patientregpage-input13 {
  top: 34px;
  left: 231px;
  width: 803px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input14 {
  top: 29px;
  left: 1183px;
  width: 391px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-input15 {
  left: 234px;
  width: 391px;
  bottom: -91px;
  position: absolute;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(96, 96, 96, 1);
  padding-bottom: var(--dl-space-space-unit);
}
.patientregpage-navlink {
  left: 733px;
  color: rgb(220, 220, 220);
  width: 535px;
  bottom: 123px;
  height: 51px;
  position: absolute;
  font-size: 25px;
  align-self: center;
  text-align: center;
  border-color: #080808;
  border-radius: 50px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}
.patientregpage-header {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  max-width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: #166a8a;
}
.patientregpage-login {
  height: var(--dl-size-size-small);
  font-size: 25px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Montserrat;
  font-weight: 600;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-width: 0px;
  margin-right: 0px;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
}
.patientregpage-container07 {
  top: 1381px;
  left: 238px;
  width: 1270.375px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-text {
  top: 0px;
  left: 0px;
  color: rgb(128, 128, 128);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text01 {
  top: 0px;
  color: rgba(128, 128, 128, 1);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text02 {
  top: 162px;
  left: 729px;
  color: rgba(21, 105, 138, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text04 {
  top: 311px;
  left: 238px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-container08 {
  top: 719px;
  left: 238px;
  width: 1179.53125px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-text06 {
  top: 0px;
  left: 0px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text08 {
  top: 0px;
  left: 529px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text10 {
  top: 0px;
  color: rgba(128, 128, 128, 1);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text12 {
  top: 565px;
  left: 238px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text14 {
  top: 838px;
  left: 238px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-container09 {
  top: 1780px;
  left: 238px;
  width: 1269px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-text15 {
  top: 0px;
  left: 0px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text17 {
  top: 0px;
  left: 515px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text18 {
  color: rgb(128, 128, 128);
  right: 50px;
  bottom: -1px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text19 {
  top: 978px;
  left: 238px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-container10 {
  top: 1105px;
  left: 238px;
  width: 1148.421875px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.patientregpage-text21 {
  top: 1px;
  left: 0px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text23 {
  top: 0px;
  left: 529px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text25 {
  top: 1517px;
  left: 232px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text27 {
  top: 1100px;
  left: 1272px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text28 {
  top: 463px;
  left: 247px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text29 {
  top: 458px;
  left: 1295px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text30 {
  top: 459px;
  left: 758px;
  color: rgba(128, 128, 128, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text31 {
  top: 1227px;
  left: 238px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.patientregpage-text33 {
  top: 1631px;
  left: 238px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .patientregpage-patientregpage {
    height: 2528px;
  }
  .patientregpage-form {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1200px;
    bottom: 0px;
    height: 2527px;
  }
  .patientregpage-container01 {
    height: 391px;
  }
  .patientregpage-input {
    top: 132px;
    left: 169px;
  }
  .patientregpage-input01 {
    top: 132px;
    left: 623px;
  }
  .patientregpage-input02 {
    top: 258px;
    left: 161px;
    height: 54px;
  }
  .patientregpage-container02 {
    top: 1149px;
    left: 0px;
    right: -25px;
  }
  .patientregpage-input03 {
    top: 43px;
    left: 181px;
    width: 912px;
    position: absolute;
    margin-right: 0px;
  }
  .patientregpage-container03 {
    top: 1265px;
    left: -34px;
    height: 357px;
  }
  .patientregpage-input04 {
    top: 72px;
    left: 218px;
  }
  .patientregpage-input05 {
    top: 73px;
    right: 64px;
  }
  .patientregpage-input06 {
    top: 187px;
    left: 224px;
    position: absolute;
  }
  .patientregpage-container04 {
    top: 676px;
    right: -90px;
    height: 420px;
  }
  .patientregpage-input07 {
    top: 185px;
    left: 84px;
  }
  .patientregpage-input08 {
    top: 186px;
    left: 518px;
    position: absolute;
  }
  .patientregpage-input09 {
    top: 301px;
    left: 85px;
    position: absolute;
  }
  .patientregpage-container05 {
    top: 1940px;
    left: 0px;
    width: 1200px;
    height: 239px;
  }
  .patientregpage-input10 {
    top: 34px;
    left: 192px;
  }
  .patientregpage-input11 {
    top: 36px;
    left: 663px;
    position: absolute;
  }
  .patientregpage-input12 {
    top: 32px;
    left: 194px;
    margin-top: var(--dl-space-space-sixunits);
  }
  .patientregpage-container06 {
    top: 1607px;
    right: -11px;
    width: 1200px;
  }
  .patientregpage-input13 {
    top: 42px;
    left: 185px;
    width: 421px;
    position: absolute;
  }
  .patientregpage-input14 {
    top: 40px;
    left: 686px;
    width: 312px;
    position: absolute;
  }
  .patientregpage-input15 {
    left: 182px;
    width: 312px;
    bottom: -76px;
    position: absolute;
  }
  .patientregpage-navlink {
    left: 345px;
    bottom: 130px;
    position: absolute;
  }
  .patientregpage-header {
    width: 1255px;
  }
  .patientregpage-container07 {
    top: 1710px;
    left: 181px;
    width: 826px;
  }
  .patientregpage-text02 {
    top: 202px;
    left: 397px;
  }
  .patientregpage-text04 {
    top: 414px;
    left: 153px;
  }
  .patientregpage-container08 {
    top: 854px;
    left: 177px;
    width: 721px;
    height: 191px;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .patientregpage-text06 {
    top: 75px;
    left: 4px;
  }
  .patientregpage-text08 {
    top: 67px;
    left: 434px;
    position: absolute;
  }
  .patientregpage-text10 {
    top: 204px;
    left: 9px;
  }
  .patientregpage-text12 {
    top: 787px;
    left: 170px;
  }
  .patientregpage-text14 {
    top: 1117px;
    left: 184px;
  }
  .patientregpage-container09 {
    top: 2029px;
    left: 200px;
    width: 883px;
  }
  .patientregpage-text17 {
    left: 485px;
    color: rgb(128, 128, 128);
    bottom: -7px;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .patientregpage-text18 {
    left: -2px;
    bottom: -96px;
  }
  .patientregpage-text19 {
    top: 1265px;
    left: 196px;
  }
  .patientregpage-container10 {
    top: 1401px;
    left: 205px;
    width: 834px;
  }
  .patientregpage-text25 {
    top: 1836px;
    left: 184px;
  }
  .patientregpage-text27 {
    top: 1520px;
    left: 189px;
    color: rgb(128, 128, 128);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .patientregpage-text28 {
    top: 554px;
    left: 165px;
    color: rgb(128, 128, 128);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .patientregpage-text29 {
    top: 686px;
    left: 172px;
    color: rgb(128, 128, 128);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .patientregpage-text30 {
    top: 560px;
    left: 621px;
    color: rgb(128, 128, 128);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .patientregpage-text31 {
    top: 1590px;
    left: 199px;
  }
  .patientregpage-text33 {
    top: 1922px;
    left: 200px;
  }
}
